* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
}

.heroSlide {
  display: none;
}

img {
  vertical-align: middle;
  width: 100%;
}

/* Container for the slideshow */

.container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Fading */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}


@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}


/* Arrows */

.arrow {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  cursor: pointer;
  transition: border-color 0.3s ease-out;
  &:hover {
    border-color: #717171;
  }
}

.arrow-left {
  left: 20px;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}

.arrow-right {
  right: 20px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Indicators */

.indicator {
  height: 8px;
  width: 85px;
  background-color: #bbb;
  outline: none !important;
  display: inline-block;
  transition: background-color 0.5s ease;
}

.active-indicator {
  background-color: #717171 !important;
}

/* Text Styles */

.text {
  position: absolute;
  color: #f2f2f2;
  font-size: 15px;
  top: 80%;
  width: 100%;
  -webkit-transform: translate(0, -80%);
  -ms-transform: translate(0, -80%);
  -o-transform: translate(0, -80%);
  transform: translate(0, -80%);
  text-align: center;
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.175);
}

.margin-none {
  margin: 0px;
}

.title-style {
  font-size: 4vw;
  margin: 10px 0px;
}

.text-center {
  text-align: center;
}